
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    width:100%;
    height:80px;
    line-height:80px;
    margin-bottom: 680px;
    padding:0px 100px;
    position:fixed;
    background-image: linear-gradient(rgb(255, 170, 0),orange);
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000000;
    background: url('gym pic 2.jpg') no-repeat center center fixed; 
    background-size: cover;
}


.logo p{
    font-size:30px;
    font-weight:bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    float:left;
    color:rgb(16, 4, 4);
    text-transform:uppercase;
    letter-spacing: 1.5px;
    cursor:pointer;

}

 ul{
    float:right;
    
}

 li{
    padding-top:0px;
    display:inline-block;
    list-style:none;
}

 li a{
    font-size: 25px;
    text-transform: uppercase;
    padding:0px 40px;
   
    color:white;
    text-decoration:none;
}

 li a:hover{
      color:brown;
      transition: all 0.4s ease 0s;
}


.box {
    margin-right: 500px;
    position: relative;
    width: 500px;
    height: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    backdrop-filter: blur(5px);
}
.box form {
    position: absolute;
    inset: 4px;
    background:light-gray; 
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    
}
.box form h2 {
    color: #000000;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.box form .inputBox {
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.box form .inputBox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}
.box form .inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    pointer-events: none;
    color: #333331;
}
.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span {
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);
}
.box form .inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #ffffff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i {
    height: 44px;
}
.box form .links {
    display: flex;
    justify-content: space-between;
}
.box form .links a {
    margin: 10px 0;
    font-size: 0.75em;
    color: #000000;
    text-decoration: none;
}
.box form .links a:hover {
    color: #fff;
}
.box form input[type="submit"] {
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #FFD034;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}
.box form input[type="submit"]:active {
    opacity: 0.8;
}

