/* UPPER NAV BAR - D ------------------------------------------------------------ */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 20px 10%;
}

.logo img {
    width: 120px;
    height: auto;
    vertical-align: middle;
}

.logo p {
    max-width: 120px;
    height: auto;
}

.navmenu {
    display: flex;
}

.navmenu a {
    color: #000000;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
}

.navmenu a:hover {
    color: #645a3b;
}

.nav-icon {
    display: flex;
    align-items: center;
}

.nav-icon i {
    margin-right: 20px;
    color: #424242;
    font-size: 25px;
    font-weight: 400;
    transition: all .42 ease;
}

.nav-icon i:hover {
    transform: scal(1.1);
    color: #424242;
}

/* #menu-icon {
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
} */

/* header #icon {
    color: #424242;
    font-size: 25px;
    line-height: 8opx;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
} */
.checkbtn {
    font-size: 25px;
    color: #424242;
    float: right;
    line-height: 8opx;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* sticky nav bar */
header.sticky {
    background: #f3f4f6;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

/* end of nav bar */


/* DASHBOARD SIDE BAR - D ------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* CHANGE FONT */
    font-family: 'Poppins', sans-serif; 
    list-style: none;
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #ffd034;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .sidebar-logo {
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
  }
  .sidebar-logo img {
    width: 60px;
    height: 60px;
    border-radius: 10%;
    /* added below */
    /* background-color: #ffffff; */
  }
  .sidebar-logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
  }

  nav a {
    position: relative;
    color: #000;
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
  }

  .material-symbols-outlined {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
  }

  .nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
  }

  nav a:hover {
    background: #eee;
  }

  nav:hover {
    width: 280px;
    transition: all 0.5s ease;
  }

.logout {
    position: absolute;
    bottom: 0;
}  

/* gym list title ------------------------------------------------------------------------------------------------*/

/* nothing changed from adding section */
section {
    padding: 5% 10%;
}

.center-text h2 {
    color: #111;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
}

/* gym and nutri list */
.gym-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
}

.nutri-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
}

.gym-row {
    position: relative;
    transition: all .40s;
}

.nutri-row {
    position: relative;
    transition: all .40s;
}

.gym-row img {
    width: 100%;
    height: auto;
    position: relative;
    transition: all.40s;
}

.nutri-row img {
    width: 100%;
    height: auto;
    border-radius: 100px;
    margin: 10px 0;
    position: relative;
    transition: all.40s;
}

.gym-row img:hover {
    transform: scale(0.9);
}

.nutri-row img:hover {
    transform: scale(0.9);
}

.gym-text h5 {
    position: absolute;
    top: 13px;
    left: 13px;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #ffd034;
    padding: 3px 10px;
    border-radius: 2px;
}

.nutri-text h5 {
    position: absolute;
    top: 13px;
    left: 13px;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #ffd034;
    padding: 3px 10px;
    border-radius: 2px;
}

.heart-icon {
    position: absolute;
    right: 0;
    font-size: 20px;
}

.heart-icon:hover {
    color: #ffd034;
}

.rating {
    color: #ffd034;
    font-size: 18px;
}

.price h4 {
    color: #111;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
}

.price p {
    color: #151515;
    font-size: 14px;
    font-weight: 600;
}

/* footer -------------------------------------------------------------------------------------------*/
.footer {
    background-color: #f3f4f6;
}

.footer img {
    width: 140px;
    height: auto;
}

/* responsive css ----------------------------------------------------------------------------------------*/
@media(max-width: 890px) {
    header {
        padding: 20px 3%;
        transition: .4s;
    }
}

@media(max-width: 630px) {
    .main-text h1 {
        font-size: 50px;
        transition: .4s;
    }
    .main-text p {
        font-size: 18px;
        transition: .4s;
    }
    .main-btn {
        padding: 10px 20px;
        transition: .4s;
    }
}

@media(max-width:750px) {
    .checkbtn{
        display: block;
    }
    .navmenu {
        position: fixed;
        top: 80px;
        /* right: -100%; */
        width: 100%;
        height: 100vh;
        left: -100%;
        background: #f3f4f6;
        /* display: flex;
        flex-direction: column; */
        align-items: center;
        padding: 120px 30px;
        text-align: center;
        transition: .4s;
    }
    .navmenu a {
        display: block;
        margin: 18px 0;
    }

    #check:checked ~ header ul{
        left: 0;
    }
}

/* search bar -------------------------------------------------------------------------------------------*/
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0%;
    margin-bottom: 40px;
}
.search-container h3{
    margin-left: 100px;
    color: #12e32e;
}

.search-bar {
    width: 100%;
    max-width: 400px;
    height: 30px;
    background: #f3f4f6;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px 20px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 0;
    font-size: 15px;
}

.search-bar button img {
    width: 20px;
}

.search-bar button {
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}



.secondblock{
    display: flex;
}
.secondblock .left{
    flex: 2;
    display: flex;
    flex-direction: column;
}
.secondblock .right{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.secondblock .left .leftcontent{
    margin: 30px;
    height: 150px;
    width: 650px;
    text-align: center;
    padding: 20px;
    padding-top: 10px;
    background-color: rgb(241, 241, 241);

}
.right .packages{
    width: 470px;
    display: flex;
    flex-direction: column;
}
.right .packages .package{
    margin: 10px;;
    height: 40px;
    width: 450px;
    text-align: center;
    padding: 10px;
    background-color: beige;
    border-radius: 10px;
}
.right .facilities{
    margin: 30px;
    margin-left: 0px;
    height: 200px;
    width: 470px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: rgb(241, 241, 241);
    margin-top: 60px;
}
.packages h2{
    color: rgb(248, 161, 46);
    margin: 20px;
    text-align: center;
}
.facility img{
    width: 30px;
    height: 30px;
   
}
.facility{
    margin: 10px;
}
.facilities h2{
    color: rgb(255, 153, 127);
    text-align: center;
    margin: 10px;
}
.leftcontent h3{
    padding: 10px;
    color: rgb(236, 117, 19);
}
ul {
    list-style-type: square; /* Change bullet type for unordered list */
  }

.imageblock-1 img{
    width: 650px;
    height: 170px;
    border-radius: 20px;
}
.imageblock-2{
    display: flex;
    flex-direction: row;
}

.imageblock-2 img{
    width: 200px;
    height: 135px;
    border-radius: 20px;
    margin: 8px;
}
.container{
    margin-left: 130px;
}
.equipment{
    margin: 30px;
    height: 250px;
    width: 650px;
    text-align: center;
    padding: 20px;
    background-color: rgb(241, 241, 241);
    display: flex;
    
}
.equipment h3{
    padding: 10px;
    color: rgb(236, 117, 19);
}
.equipment-1{
    margin: 20px;
}
.allpackages{
    padding: 10px;
    height: 45px;
    width: 450px;
    background-color: #ff3434;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    
}
.allpackages a{
    color:black;
}
.singleentry{
    padding: 10px;
    height: 45px;
    width: 450px;
    background-color: #ffd034;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    
}
.singleentry a{
    color:black;
}
.location{
    display: flex;
    background-color: rgb(241, 241, 241);
    height: 70px;
    text-align: center;
    padding: 10px;
    width: 450px;
    margin: 10px;
    border-radius: 10px;
}
.location img{
    width:50px;
    height:50px;
    border-radius: 10px;
}
.gymname{
    width: 200px;
    height: 35px;
    margin: 10px;
    margin-bottom: 0px;
    color: #12e32e;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.apply{
    padding: 10px;
    height: 45px;
    width: 450px;
    background-color:#ffd034;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}
.apply a{
    color:black;
}
/* .mainpackage{
    margin-left:150px;
    padding: 30px;
    display: flex;
    flex-direction: row;
}
.package{
    width: 180px;
    height: 180px;
    background-color: #ffd034;
    border-radius: 9px;
    padding: 15px;
    margin:20px;

}
.package h3{
    margin: 8px;
    text-align: center;
}
.package h5{
    margin: 8px;
} */
/* Style for the main package container */
.mainpackage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 100px;
}

/* Style for each package */
.pkg {
    width: 300px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #f8f389;
}

/* Style for pkg title */
.pkg h3 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

/* Style for pkg description */
.pkg p {
    color: #666;
    font-size: 16px;
    margin-bottom: 15px;
}

/* Style for pkg period and amount */
.pkg h5 {
    color: #888;
    font-size: 14px;
    margin-bottom: 5px;
}
