*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}
nav{
    padding: 40px;
    background-color: orange;
    height: 15%;
}
.logo p{
    font-size:30px;
    font-weight:bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    float:left;
    color:rgb(16, 4, 4);
    text-transform:uppercase;
    letter-spacing: 1.5px;
    cursor:pointer;

}
ul{
    float:right;
    
}

 li{
    padding-top:0px;
    display:inline-block;
    list-style:none;
}

 li a{
    font-size: 16px;
    text-transform: uppercase;
    padding:0px 40px;
   
    color:white;
    text-decoration:none;
}

 li a:hover{
      color:brown;
      transition: all 0.4s ease 0s;
}
@media(max-width:735px){
    nav{
        
        background-color: orange;
        height: 15%;
        padding-bottom: 20px;
       
    }
    ul{
        float:left;
        padding-top: 20px;
        
        
    }
    
}
@media(max-width:540px){
    nav{
        
        background-color: orange;
        height: 20%;
        padding-bottom: 20px;
       
    }
    li{
        
        padding-top:8px;
        list-style:none;
    }
   
}
.container{
    display: flex;
    flex-direction: column;
}
.complaint{
    display: flex;
    margin-left: 300px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    width: 50%;
    height: 300px;
    border-color: aqua;
    border-style: double;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
   

}
input[type="submit"] {
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #c19813;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 20px;
    margin-left: 200px;
    
}
.complaint img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.complaint .c1{
  flex: 1;
  text-align: center;
}
.complaint .c2{
    margin-top: 50px;
    margin-left: 60px;
    flex: 1;
}
