*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

.secondcontainer{
    display: flex;
    flex-direction: row;
}

.machines{
    display: flex;
    flex-direction: column;
}
.machine{
    display: flex;
    margin-left: 150px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    width: 70%;
    height: 300px;
    border-color: aqua;
    border-style: double;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
   

}
.machine img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.machine .c1{
  flex: 1;
  text-align: center;
}
.machine .c2{
    margin-top: 50px;
    margin-left: 60px;
    flex: 1;
}

.addMachine{
    border-color:#27496A;
    width: 400px;
    height: 590px;
    border-style: double;
    padding: 15px;
    margin: 30px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 10);
}
.addMachine h2{
    padding: 30px;
    color: #0C243D;
}
.addMachine select{
    height: 30px;
    margin: 10px;
}
section .contentBx .formBx{
    width: 50%;
}
section .contentBx .formBx h2{
    color: black;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #27496A;
    display: inline-block;
    letter-spacing: 1px;

}
.inputBx{
    margin-bottom: 5px;
}
 .inputBx span{
    font-size: 16px;
    margin-bottom:5px;
    display: inline-block;
    color: black;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}
.inputBx input{
    width: 100%;
    padding: 10px 20px;
    outline:none;
    font-weight: 400;
    border: 1px solid black;
    font-size: 16px;
    letter-spacing: 1px;
    color:black;
    background: transparent;
    border-radius: 30px;
}
.inputBx input[type="submit"]{
    background:#27496A;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor:pointer;
    
}

.inputBx input[type="submit"]:hover{
    background: #9AB7CD;

}
section .contentBx .formBx .remember{
    margin-bottom: 10px;
    color: black;
    font-weight: 400;
    font-size: 14px;
}
.inputBx p{
    color:black
}
.inputBx p a{
    color:orange
}


input[type="submit"] {
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #c13c13;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 120px;
    margin-top: 20px;
    margin-left: 180px;
    
}

.maincontainer{
    display: flex;
}

