*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}
nav{
    padding: 40px;
    background-color: orange;
    height: 15%;
}
.logo p{
    font-size:30px;
    font-weight:bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    float:left;
    color:rgb(16, 4, 4);
    text-transform:uppercase;
    letter-spacing: 1.5px;
    cursor:pointer;

}
ul{
    float:right;
    
}

 li{
    padding-top:0px;
    display:inline-block;
    list-style:none;
}

 li a{
    font-size: 16px;
    text-transform: uppercase;
    padding:0px 40px;
   
    color:white;
    text-decoration:none;
}

 li a:hover{
      color:brown;
      transition: all 0.4s ease 0s;
}
@media(max-width:735px){
    nav{
        
        background-color: orange;
        height: 15%;
        padding-bottom: 20px;
       
    }
    ul{
        float:left;
        padding-top: 20px;
        
        
    }
    
}
@media(max-width:540px){
    nav{
        
        background-color: orange;
        height: 20%;
        padding-bottom: 20px;
       
    }
    li{
        
        padding-top:8px;
        list-style:none;
    }
   
}
.maincontainer h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: black;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid orange;
    display: inline-block;
    letter-spacing: 1px;
    margin-left: 430px;
}

.container{
    display: flex;
    flex-direction:row;
}

.machines{
    display: flex;
    flex-direction: column;
}
.machine{
    display: flex;
    margin-left: 150px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    width: 70%;
    height: 300px;
    border-color: aqua;
    border-style: double;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
   

}
.machine img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.machine .c1{
  flex: 1;
  text-align: center;
}
.machine .c2{
    margin-top: 50px;
    margin-left: 60px;
    flex: 1;
}

.addMachine{
    margin-left:400px;
    width: 700px;
    height: 550px;
    border-radius:30px;
    padding: 15px;
    margin-top: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 10);
}
.addMachine h2{
    padding: 30px;
    color:black/* rgb(35, 230, 103)*/;
    margin-left:180px;
}

section .contentBx .formBx{
    width: 50%;
}
section .contentBx .formBx h2{
    color: black;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid orange;
    display: inline-block;
    letter-spacing: 1px;

}
.inputBx{
    margin-bottom: 15px;
}
 .inputBx span{
    font-size: 16px;
    margin-bottom:20px;
    display: inline-block;
    color: black;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight:700;
    margin-left:50px;
}
.inputBx input{
    width: 80%;
    padding: 10px 20px;
    outline:none;
    font-weight: 400;
    border: 1px solid black;
    font-size: 16px;
    letter-spacing: 1px;
    color:black;
    background: transparent;
    border-radius: 30px;
    margin-left:100px;
}
.inputBx input[type="submit"]{
    background:orange;
    color: #fff;
    outline: none;
    border-radius: 20px;
    font-weight: 500;
    cursor:pointer;
    
}

.inputBx input[type="submit"]:hover{
    background: rgb(216, 57, 13);

}
section .contentBx .formBx .remember{
    margin-bottom: 10px;
    color: black;
    font-weight: 400;
    font-size: 14px;
}
.inputBx p{
    color:black
}
.inputBx p a{
    color:orange
}


input[type="submit"] {
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #c13c13;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 120px;
    margin-top: 20px;
    margin-left: 180px;
    
}
/* Style for the table */
table {
    width: 90%;
    border-collapse:separate;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    margin-left: 4%;
    /* margin-right: 5px; */
    margin-top: 4%;
    border-radius: 20px;
  }
  
  table thead {
    background-color: #ffd034;
    color: #fff;
  }
  
  table th,
  table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  table th {
    font-weight: bold;
  }
  
  table tbody tr:nth-child(2n) {
    background-color: #f2f2f2;
    
  }
  
  table tbody tr:hover {
    background-color: #e0e0e0;
  }
  
  table button {
    background-color: #ffd034;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  table a {
    text-decoration: none;
    color: #fff;
  }
  
  /* table button:hover {
    background-color: #ffd034;
  } */

/* 
.maincontainer{
    display:flex;
} */

