* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
}

.body {
    /* border: 1px solid red; */
    display: flex;
    min-height: 100vh;
}

.container-left {
    float: left;
    width: 20%;
    min-height: 100vh;
}

.container-right{
    border: 1px solid red;

    float: right;
    width: 80%;
    min-height: 100vh;
}

.container-tabs-bar {
    /* border: 1px solid red; */
    height: 10%;
    display: flex;

    /* horizontally centered */
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 10%;
    background-color: #f5f5f5;

    border-radius: 5px;
}

.tab {
    /* border: 1px solid red; */
    width: max-content;

    /* horizontally centered */
    margin: auto;
    width: 50%;
    padding: 10px;
    /* margin-top: 10%; */
    background-color: #f5f5f5;
    text-align: center;
}

/* BUTTONS */
button {
    /* border: 1px solid red; */
    border: none;
    width: max-content;

    /* horizontally centered */
    margin: auto;
    width: 50%;
    padding: 10px;
    /* margin-top: 10%; */
    background-color: #F4CE14;
    text-align: center;

    border-radius: 5px;
}

.current-button {
    /* border: 1px solid red; */
    border: none;
    width: max-content;

    /* horizontally centered */
    margin: auto;
    width: 50%;
    padding: 10px;
    /* margin-top: 10%; */
    background-color: #423737;
    color: #f5f5f5;
    text-align: center;

    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: #423737;
    color: #f5f5f5;
}

/* FORMS */
.form {
    /* border: 1px solid red; */

    /* horizontally centered */
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 5%;
    background-color: #f5f5f5;
    /* box-shadow: black; */

    border-radius: 5px;
}

.form-content {
    /* border: 1px solid red; */
    line-height: 30px;
}

input[type=submit] {
    /* border: 1px solid red; */
    border: none;
    width: max-content;

    /* horizontally centered */
    margin: auto;
    width: 50%;
    padding: 10px;
    /* margin-top: 10%; */
    background-color: #F4CE14;
    text-align: center;

    border-radius: 5px;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: #423737;
    color: #f5f5f5;
}

/* cards in the member profile */
.cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    height: 150px;
    background: black;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #F4CE14;
    color: black;
} 

/* Time slots to schedule meetings */
.timeslot {
    background-color: white;
    width: max-content;
    height: 30px;
    color: black;
    padding:7px;
    margin-top: 5px;
    font-size: 14px;
    border-radius: 3px;
    vertical-align: center;
    text-align:center;
    display: inline-block;
  }
  
  .timeslot:hover { 
    background-color: #F4CE14;
    cursor: pointer;
  }

/* textareas */
input[type=textarea] {
    height: 200px;
    width: 600px;
    margin-top: 0%;
}

/* textarea {
    font-size: 0.8rem;
    letter-spacing: 1px;
  } */
  
textarea {
    font-size: 0.8rem;
    letter-spacing: 1px;
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}