*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav{
    padding: 30px;
    background-color: orange;
    height: 5%;
}
.logo p{
    font-size:30px;
    font-weight:bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    float:left;
    color:rgb(16, 4, 4);
    text-transform:uppercase;
    letter-spacing: 1.5px;
    cursor:pointer;

}
ul{
    float:right;
    
}

 li{
    padding-top:0px;
    display:inline-block;
    list-style:none;
}

 li a{
    font-size: 16px;
    text-transform: uppercase;
    padding:0px 40px;
   
    color:white;
    text-decoration:none;
}

 li a:hover{
      color:brown;
      transition: all 0.4s ease 0s;
}
@media(max-width:735px){
    nav{
        
        background-color: orange;
        height: 15%;
        padding-bottom: 20px;
       
    }
    ul{
        float:left;
        padding-top: 20px;
        
        
    }
    
}
@media(max-width:540px){
    nav{
        
        background-color: orange;
        height: 20%;
        padding-bottom: 20px;
       
    }
    li{
        
        padding-top:8px;
        list-style:none;
    }
   
}



body{
    
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url(bg-image.jpg);
    background-size: cover;
}

.containera{
    width: 100%;
    max-width: 950px;
    background: #333533;
    padding: 28px;
    margin:40px 40px 50px 50px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px white;
    margin-top: 70px;
    
}

.form-title{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
}

.main-user-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
}

.user-input-box:nth-child(n){
    justify-content: end;
}

.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    padding-bottom: 15px;
}
.user-input-box img{
    width: 100px;
    height: 100px;
    border-radius:20%;
    
    
}

.user-input-box label{
    width: 20px;
    color: white;
    font-size: 15px;
    font-weight: 400;
    margin-right: 15px ;
}
.formHeader{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.formHeader h2{
    margin-left: 85px;
}

.user-input-box input{
    height: 40px;
    width: 60%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
}

.gender-title{
    color:white;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid white;
}

.gender-category{
    margin: 15px 0;
    color: white;
}

.gender-category label{
    padding: 0 20px 0 5px;
}

.gender-category label,
.gender-category input,
.form-submit-btn input{
    cursor: pointer;
}

.form-submit-btn{
    margin-top: 40px;
}

.form-submit-btn input{
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size: 20px;
    padding: 5px;
    border:none;
    border-radius: 3px;
    color: rgb(209, 209, 209);
    background: rgba(63, 114, 76, 0.7);
}

.form-submit-btn input:hover{
    background: rgba(56, 204, 93, 0.7);
    color: rgb(255, 255, 255);
}

@media(max-width: 600px){
    .container{
        min-width: 280px;
    }

    .user-input-box{
        margin-bottom: 6px;
        width: 100%;
    }

    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }

    .gender-category{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .main-user-info{
        max-height: 380px;
        overflow: auto;
    }

    .main-user-info::-webkit-scrollbar{
        width: 0;
    }
}