*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}


.complaint{ 
    margin-top: 8px;
    margin-bottom: 50px;
    padding: 20px;
    width: 500px;
    height: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-left: 450px;

}
input[type="submit"] {
    border: none;
    outline: none;
    padding: 9px 25px;
    background-color: #9AB7CD;
    color: #080908;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin: 10px;
    position: relative;
    
}
input[type="text"] {
    height: 45px;
    width: 200px;
    padding: 10px;
    margin: 6px;
}



.right{
    background-color: #5C8EB4;

    padding: 10px;
    height: 100vh;
    
}
.right .complaint{
    height:400px ;
    background-color: #27496A;
    color: white;
    margin: 100px;
    margin-top: 10px;
    margin-left: 400px;
}
.complaint.delete{
    height: 270px;
}
.delete input[type="submit"]{
    border: none;
    outline: none;
    padding: 9px;
    background-color: #d893a3;
    color: #b30021;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 150px;
    margin: 10px;
    position: relative;
    color: black;
}


.right h2{
    text-align: center;
    margin-top: 80px;
    color: #18191a;
}
